[user]
	email = kevinptt0323@gmail.com
	name = Kevin Lin
[credential]
	helper = cache --timeout=3600
[core]
	editor = vim
[alias]
	co = checkout
	cm = commit
	recm = commit --amend --no-edit
	st = status
	br = branch
	cp = cherry-pick
	df = diff
	dfc = diff --color-words=.
	dfw = diff --color-words
	cached = diff --cached
	dt = difftool
	mt = mergetool
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = lg --all
	lg1 = "!git -P lg -1"
	sm = submodule
	sw = switch
	bl = blame -c
	rb = rebase
	unstage = reset HEAD --
	clear = "!git co -- . && git clean -df"
[push]
	default = simple
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[remote]
	prune = true
[color]
	ui = auto
[oh-my-zsh]
	hide-status = 1
